@import "./main-elements/_main-elements.css";
@import "./colors.css";
@import "./dasboardMenu.css";
@import "./formLayout.css";
@import "./loading.css";
@import "./onlineUser.css";
@import "./shadowing.css";
@import "./edit-website/_edit-website.css";
@import "./butttons.css";
@import "./support/support.css";
@import "./file-manager/file-manager.css";
@import "./settings/settings.css";

/*HIDE NUMBER FIELDS ARROWS*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
