.centeredMenu {
    position: absolute;
    top: 83%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(31, 41, 55, 1);
    border-radius: 15px;
    padding: 2px 10px;
    width: 200px;
    text-align: center;
}

.centeredMenu h1 {
    color: white;
    font-size: 1.3rem;
}

.imageMenu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(31, 41, 55, 0.3);
    border-radius: 15px;
    padding: 2px 10px;
    width: 200px;
    text-align: center;
}
