button.add-content:hover {
  scale: 1.01 !important;
}

.accommodation-form-position {
  margin-left: auto;
  margin-right: auto;
}

.accommodation-field-position {
  display: flex;
}

/*.accommodation-field-position input {
  width: 33.4%;
}*/

.input-margin {
  margin-right: 10px;
}

.accommodation-modal {
  width: auto;
  padding: 10px 40px 0px 40px;
  max-width: 99%;
}

.accommodationForm {
  margin-left: auto;
}

.accommodationForm textarea {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
  background-color: rgb(244 244 245 / 0.4);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/*DROPDOWN*/
.dropdown-menu {
  position: absolute;
  top: 220px;
  right: 5px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: auto;
  padding: 10px 5px 10px 5px;
  background-color: white;
  font-size: 14px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease, visibility 0.2s ease;
  animation: fadeInAnimation ease 0.2s;
  z-index: 1;
}

.dropdown-menu.show {
  visibility: visible;
  opacity: 1;
}

.dropdown-menu ul li {
  padding: 3px 15px;
  border-radius: 20px;
}
.dropdown-menu ul li:hover {
  background: rgba(0, 0, 0, 0.1);
}

.content-list img{
  width: 117px;
  height: 80px;
}

.accomList{
  padding-bottom: 20px;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dropdown-menu.destination {
  right: auto;
  overflow: hidden;
  background-color: #fff;
}

.dropdown-menu.destination.list {
  width: 300px;
  max-height: 200px;
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

/*ADD IMAGES*/
.add-images {
  width: 100%;
  background-color: rgb(244 244 245 / 0.4);
  min-height: 150px;
  padding: 10px;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
  display: grid;
}

.added-images {
  width: 100%;
  display: flex;
}
.possition-images {
  margin: 10px auto;
}

.added-images img {
  padding: 5px;
  max-height: 155px;
}

.add-image-button {
  height: 110px;
  margin: 0px auto;
  cursor: pointer;
}

.added-images-num {
  margin: 0 auto;
}

/*form-description*/
.form-description,
.form-description::placeholder,
::-moz-placeholder,
.form-description::-webkit-input-placeholder,
.added-images span {
  font-size: 14px;
  opacity: 0.8;
}

.form-description-position {
  display: grid;
  width: 33.4%;
}

.form-description-position.middle {
  padding: 0 5px;
}

.form-description-position.single-input,
.form-description-position.single-input input,
.form-description-position textarea {
  width: 100%;
}

.add-image-cont {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1024px) {
  .dropdown-menu {
    top: 230px;
  }
  .accommodation-modal {
    width: 95%;
    margin: 10px;
  }
  .accommodation-modal h3 {
    text-align: center;
  }
  .form-description,
  .form-description input {
    width: auto !important;
  }
  .accommodation-field-position {
    display: grid !important;
  }

  .accommodation-form-position,
  .accommodationForm,
  .form-description-position {
    width: 100%;
    padding: 2px 0 !important;
  }

  .form-description-position input {
    padding-left: 15px !important;
  }

  .input-margin {
    margin: 0;
  }

  .accommodation-field-position {
    margin-bottom: -10px;
  }

  .form-description-position.middle {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 921px) {
  .content-list {
    padding-right: 0 !important;
  }

  .website-buttons {
    width: 185px;
    position: absolute;
    right: 10px;
  }

  .deleteAccButton {
    margin-top: 5px !important;
  }
}
@media screen and (max-width: 800px) {
  .content-list span {
    width: 150px;
  }

  .website-buttons {
    right: 0px;
  }
}

@media screen and (max-width: 639px) {
  .added-images {
    display: block;
  }
  .possition-images,
  .possition-images img {
    margin: auto;
  }

  .form-description-position input,
  .form-description-position input::placeholder,
  .form-description-position input::-webkit-input-placeholder {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 490px) {
  .content-list span {
    width: 100px;
  }
}

@media screen and (max-width: 460px) {
  .dropdown-menu {
    margin-left: auto !important;
    margin-right: auto !important;
    width: auto !important;
  }
  .content-list {
    padding-left: 10px !important;
  }
  .content-list span {
    width: 100px;
  }
  .accommodation-modal {
    padding: 10px 5px 0px 5px;
  }

  .form-description-position input {
    width: 100% !important;
  }

  .deleteAccButton,
  .editAccButton {
    display: grid;
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
    margin-right: 30px !important;
    margin-left: auto !important;
  }

  .deleteAccButton span,
  .editAccButton span {
    display: none !important;
  }
}
