button.add-content:hover {
  scale: 1.01 !important;
}

.accommodation-form-position {
  margin-left: auto;
  margin-right: auto;
}

.accommodation-field-position {
  display: flex;
}

/*.accommodation-field-position input {
  width: 33.4%;
}*/

.input-margin {
  margin-right: 10px;
}

.accommodation-modal {
  width: auto;
  padding: 10px 40px 0px 40px;
  max-width: 99%;
}

.accommodationForm {
  margin-left: auto;
}

.accommodationForm textarea {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
  background-color: rgb(244 244 245 / 0.4);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: auto !important;
}

.content-list img {
  width: 117px;
  height: 80px;
}

.accomList {
  padding-bottom: 20px;
}

/*ADD IMAGES*/
.add-images {
  width: 100%;
  background-color: rgb(244 244 245 / 0.4);
  min-height: 150px;
  padding: 10px;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
  display: grid;
  margin-top: 40px;
  margin-bottom: 30px;
}

.added-images {
  width: 100%;
  display: flex;
}
.possition-images {
  margin: 10px auto;
}

.added-images img {
  padding: 5px;
  height: 100%;
  object-fit: scale-down;
}

.add-image-button {
  height: 110px;
  width: 110px;
  margin: 0px auto;
  cursor: pointer;
}

.added-images-num {
  margin: 0 auto;
}

/*form-description*/
.form-description,
.form-description::placeholder,
::-moz-placeholder,
.form-description::-webkit-input-placeholder,
.added-images span {
  font-size: 14px;
  opacity: 0.8;
  margin-top: 15px;
  margin-bottom: 5px;
}

.form-description-position {
  display: grid;
  width: 33.4%;
}

.form-description-position.middle {
  padding: 0 5px;
}

.guests-box {
  width: 33.4%;
  display: flex;
  padding-right: 5px;
}

.form-description-position.middle.guests {
  padding-right: 0px;
  width: 60%;
}

.form-description-position.middle.guests input {
  width: 100%;
}

.children-allowed {
  display: flex;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.children-allowed label {
  margin-left: 5px;
}

.form-description-position.single-input,
.form-description-position.single-input input,
.form-description-position textarea {
  width: 100%;
}

.add-image-cont {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1024px) {
  .modal-position {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-min-width {
    min-width: 900px;
  }
}

@media screen and (max-width: 1024px) {
  .accommodation-modal {
    width: 95%;
    margin: 10px;
  }
  .accommodation-modal h3 {
    text-align: center;
  }
  .form-description,
  .form-description input {
    width: auto !important;
  }
  .accommodation-field-position {
    display: grid !important;
  }

  .accommodation-form-position,
  .accommodationForm,
  .form-description-position {
    width: 100%;
    padding: 2px 0 !important;
  }

  .form-description-position input {
    padding-left: 15px !important;
  }

  .input-margin {
    margin: 0;
  }

  .guests-box {
    width: auto;
  }
}

@media screen and (max-width: 921px) {
  .content-list {
    padding-right: 0 !important;
  }

  .website-buttons {
    width: 185px;
    position: absolute;
    right: 10px;
  }

  .deleteAccButton {
    margin-top: 5px !important;
  }
}
@media screen and (max-width: 800px) {
  .content-list span {
    width: 150px;
  }

  .website-buttons {
    right: 0px;
  }
}

@media screen and (max-width: 639px) {
  .added-images {
    display: block;
  }
  .possition-images,
  .possition-images img {
    margin: auto;
  }

  .form-description-position input,
  .form-description-position input::placeholder,
  .form-description-position input::-webkit-input-placeholder {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 490px) {
  .content-list span {
    width: 100px;
  }
}

@media screen and (max-width: 460px) {
  .content-list {
    padding-left: 10px !important;
  }
  .content-list span {
    width: 100px;
  }
  .accommodation-modal {
    padding: 10px 5px 0px 5px;
  }

  .form-description-position input {
    width: 100% !important;
  }

  .deleteAccButton,
  .editAccButton {
    display: grid;
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
    margin-right: 30px !important;
    margin-left: auto !important;
  }

  .deleteAccButton span,
  .editAccButton span {
    display: none !important;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
