.content-list {
  background: white;
  margin-top: 20px;
  width: 100%;
  height: 100px;
  border-radius: 5px;
  /*cursor: pointer;*/
  display: flex;
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  padding: 10px 20px;
}
.content-list:hover {
  /*background: rgb(245, 245, 245);*/
}

.content-list span {
  margin-top: auto;
  margin-bottom: auto;
  color: var(--dark);
  color: var(--dark);
}

.content-list span {
  margin-right: auto;
  margin-left: 20px;
}

.content-list img {
  opacity: 0.9;
}

.website-buttons {
  color: white;
  margin-top: auto;
  margin-bottom: auto;
}

.website-buttons button {
  margin-right: 0;
  margin-left: 20px;
}

.website-buttons button span {
  color: white !important;
}
